@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

#message{
    margin-top: 50px;
    border: 1px solid #E2F1E7;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 67vw;
    min-height: 10vh;
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #629584;
}

#submitMessage{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 67vw;
    min-height: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1wv;
    padding-right: 1wv;
    font-size: 15pt;
    gap: 10px;
}

body{
    font-family: 'Host Grotesk', sans-serif;
    text-align: center;
    background-color: #387478;
    color: #243642;
}

input, textarea, .button, button{
    color: #243642;
    border: 1px solid #E2F1E7;
    border-radius: 5px;
    background-color: #629584;  
    font-size: 15pt;
}

.settingsPanel{
    margin-top: 50px;
    border: 1px solid #E2F1E7;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25vw;
    min-height: 10vh;
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #284144;
}

#errorMessage{
    color: red;
    font-size: 18;
}

.settingsPanel * {
    border-color: #476157;
}

input{
    padding: 3px, 3px;
    margin-bottom: 5px;
}

label{
    font-size: 15pt;
}

#changePassForm label{
    color: #10181a;
}

form *{
    margin-left: 4px;
}

nav{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 5px;
}

.navlink a, .navlink{
    color: #629584;
    text-decoration: none;
    font-size: 24;
    font-weight: 900;
}

#backButton{
    margin-top: 10px;
    position: relative;
}